:root {
    --bg-dark-color: rgb(13, 13, 13);
    --text-orange-color: rgb(255, 123, 0);
    --text-warmpink-color: #ff2b83;
    --bg-warmpink-color: rgb(255, 37, 106);

    --primary-color: #50a5ff;
    --bg-gray-color: #2e2e2e;
    --text-color: #fff;
    --border-color: #007bff;
    --text-lightgreen-color: #49ffb3;
    --bgbody: linear-gradient(135deg, #1f483d, #1f483d);
    --bgcard: #cacaca;
}
.fs-7{
    font-size: 14px;
}
/* .color-text22{
    color: var(--bgcard);
} */
.text-color-title2 {
    color: orange;
}

.color-title2 {
    color: var(--text-color);
}


.text-color-title {
    color: var(--bg-greenlight-color);
}

.color-text {
    color: var(--text-color);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.cursor-pointer {
    cursor: pointer;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.poster {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.container {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
}



li:last-child {
    border-bottom: none;
}



.svggg {
    display: none;
    width: auto !important;
    position: relative;
    /* bottom: 400px; */
    /* z-index: -1; */
}

.svg-icon-trailer,
.bi-eye-fill {
    height: 20px;
    width: 20px;
}

.number-view {
    font-size: 16px;
}

.btn-bg {
    background-color: orange !important;
    /* background: var(--bg-greenlight-color) !important; */
    border: 1px solid var(--bg-greenlight-color) !important;
    padding: 1px 4px;
}

.btn-bg:hover .text-trailer,
.btn-bg:hover svg {
    fill: #fff !important;
    color: #fff !important;
}

.btn-bg:hover {
    background: none !important;

}

.text-name-films-top {
    font-size: 40px;
    /* color: var(--bg-greenlight-color); */
}

.text-trailer {
    font-size: 16px;

}

.btn-trailer-scree {
    padding: 1px !important;
}

@media (max-width: 560px) {
    .btn-bg {
        width: 290px;
    }

    .nav-top-card {
        flex-flow: column;
        margin: 0px !important;
    }

    .dsiplay-time-view {
        display: none !important;
    }

}

@media (max-width: 767px) {
    .translateX {
        transform: translateX(10px);

    }

    /* .div-includes {

        margin-left: 0px;
    } */


    .svg-icon-trailer,
    .bi-eye-fill {
        height: 16px;
        width: 16px;
    }

    .number-view {
        font-size: 13px;
    }

    /* .btn-bg {
        padding: 1px 2px !important;
    } */

    .text-name-films-top {
        font-size: 26px;
    }

    .text-trailer {
        font-size: 13px;

    }

    .btn-trailer-scree {
        padding: 1px !important;
    }

    .container {
        margin: auto !important;
        margin-top: 40px !important;
    }

    .text-rating {
        display: none !important;
    }

    .details-screen {
        /* margin: 0px 2px 0px 2px !important; */
        padding: 10px 10px 0px 10px !important;
    }

    .line-ratibf-comment-favoutites-screen {
        margin: 0 !important;
        padding: 10px 0px 10px 0px !important;
    }

    .rating-star-screen {
        margin: 0 !important;

    }
}